<div class="body">
    <h2 class="text-center">Sign Up</h2>
    <form #f='ngForm' (ngSubmit)='signup(f)'>
        <input ngModel name='name' #name='ngModel' type="text" class='form-control' placeholder="Your name" required >
        <div class="alert alert-danger" *ngIf='name.invalid && name.touched'>name is required</div>

        <input  ngModel name='mail' #email='ngModel' type="email" class='form-control' placeholder="Your Mail" required email>
        <div class="alert alert-danger" *ngIf='email.touched && email.errors?.required'>Email is Required</div>
        <div class="alert alert-danger" *ngIf='email.touched && email.errors?.email'>Your input doesn't match email format</div>

        <input  ngModel name='password' #password='ngModel' type="password" class='form-control' placeholder="Password" required minlength="6">
        <div class="alert alert-danger" *ngIf='password.touched && password.errors?.required'>Password is Required</div>
        <div class="alert alert-danger" *ngIf='password.touched && password.errors?.minlength'>Password should be 6+ characters</div>
        <input  ngModel name='passwordConfirme' #passwordConfirm='ngModel' type="password" class='form-control' placeholder="Confirme Password" required>
        <div class="alert alert-danger" *ngIf='passwordConfirm.invalid && passwordConfirm.touched'>Password is required</div>
        <div class="alert alert-danger" *ngIf='passwordConfirm.value !== password.value && passwordConfirm.touched' >Password are not equal</div>
        <input  ngModel name='adresse' #adresse='ngModel' type="text" class='form-control' placeholder="Adresse" required>
        <div class="alert alert-danger"  *ngIf='adresse.invalid && adresse.touched'>Adresse is required</div>

        <button class='btn btn-primary' [disabled]='f.invalid || passwordConfirm.value !== password.value'>Creat Account</button>
    </form>
</div>